42cc-pystyle==0.0.15
astroid==1.4.3
colorama==0.3.6
coverage==4.0.3
Django==1.9.1
flake8==2.5.1
lazy-object-proxy==1.2.1
mccabe==0.3.1
pep8==1.5.7
pyflakes==1.0.0
pylint==1.5.3
pylint-django==0.7.1
pylint-plugin-utils==0.2.3
six==1.10.0
wheel==0.24.0
wrapt==1.10.6
